/* Milligram overrides */
:root {
    /* CRT Colors grün */
    --color-crt-waldgrün: #3a4b55;
    --color-crt-wiesengrün: #59788a;
    --color-crt-dunkelgrün: #1a3843;
    --color-crt-hellgrün: #a6bbbe;
    --color-crt-minze: #8ea6aa;
    --color-crt-super-hellgrün: #e0ddd8;

    /* CRT Colors blau */  
    --color-crt-blau-stufe-1: #e5ecf4;
    --color-crt-blau-stufe-2: #c4d1e0;
    --color-crt-blau-stufe-3: #a2b7cc;
    --color-crt-blau-stufe-4: #80a3b8;
    --color-crt-blau-stufe-5: #5e8fb4;
    --color-crt-blau-stufe-6: #3c7ba0;
    --color-crt-blau-stufe-7: #1a669c;
    --color-crt-blau-stufe-8: #005f8c;
    --color-crt-blau-stufe-9: #005881;
    --color-crt-blau-stufe-10: #004e72;
    --color-crt-blau-stufe-11: #003a53;
    --color-crt-blau-stufe-12: #002a3c;

    /* CRT Colors grau */
    --color-crt-grau-stufe-1: #f5f5f5;
    --color-crt-grau-stufe-2: #d9d9d9;
    --color-crt-grau-stufe-3: #b2b2b2;
    --color-crt-grau-stufe-4: #8c8c8c;
    --color-crt-grau-stufe-5: #666666;
    --color-crt-grau-stufe-6: #404040;
    --color-crt-grau-stufe-7: #292929;
    --color-crt-grau-stufe-8: #222222;
    --color-crt-grau-stufe-9: #1b1b1b;
    --color-crt-grau-stufe-10: #000000;

    /* CRT Colors grau */
    --color-crt-rot-stufe-1: #fce4e4;
    --color-crt-rot-stufe-2: #f8d7da;
    --color-crt-rot-stufe-3: #f5c6cb;
    --color-crt-rot-stufe-4: #f1b0b7;
    --color-crt-rot-stufe-5: #ec7a82;
    --color-crt-rot-stufe-6: #e63946;
    --color-crt-rot-stufe-7: #d62839;
    --color-crt-rot-stufe-8: #9d0208;
    --color-crt-rot-stufe-9: #720026;
    --color-crt-rot-stufe-10: #4a0000;
    --color-crt-rot-stufe-11: #3b0a45;
    --color-crt-rot-stufe-12: #3b0a45;

    /* The following are official CakePHP colors */
    --color-cakephp-red: #442858;
    --color-cakephp-gray: #404041;
    --color-cakephp-blue: #1b273d;
    --color-cakephp-lightblue: #34bdd7;

    /* These are additional colors */
    --color-lightgray: #606c76;
    --color-white: #fff;

    --color-main-bg: #f5f7fa;
    --color-links: var(--color-cakephp-blue);
    --color-links-active: #2a6496;
    --color-headings: #1b273d;

    --color-message-success-bg: #e3fcec;
    --color-message-success-text: #1f9d55;
    --color-message-success-border: #51d88a;

    --color-message-warning-bg: #fffabc;
    --color-message-warning-text: #8d7b00;
    --color-message-warning-border: #d3b800;

    --color-message-error-bg: #fcebea;
    --color-message-error-text: #cc1f1a;
    --color-message-error-border: #ef5753;

    --color-message-info-bg: #eff8ff;
    --color-message-info-text: #2779bd;
    --color-message-info-border: #6cb2eb;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: var(--color-crt-blau-stufe-4);
    border: none;
}


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    background: var(--color-crt-grau-stufe-1);
    color: var(--color-crt-grau-stufe-7);
}


.side-nav,
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: var(--color-crt-grau-stufe-7);
}

h1, h4, h5 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3.0rem;
}
h3 {
    font-size: 2.4rem;
}
h4 {
    font-size: 2.0rem;
}
h5 {
    font-size: 1.8rem;
}
h6 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

/* Tabellen */
td, th {
    padding: 1.2rem 0.15rem;
    line-break: anywhere;
}

th {
    border-bottom: 0.4rem solid var(--color-crt-blau-stufe-4);
}

td,
.vertical-table th {
    border: none;
}

tr:nth-child(even) {
    background-color: var(--color-white);
 }
 
/* Links and Buttons */

a {
    color: var(--color-links);
}

a:hover,
a:focus,
a:active {
    color: var(--color-links-active);
}

button a:hover,
button a:focus {
    color: var(--color-white);
}

.action-button-img {
    cursor: pointer;
}

.action-button-img:hover {
    transform: scale(1.2);
    transition: transform .2s linear;
}

.button:focus,.button:hover,button:focus,button:hover,input[type='button']:focus,input[type='button']:hover,input[type='reset']:focus,input[type='reset']:hover,input[type='submit']:focus,input[type='submit']:hover{
    background-color: var(--color-crt-blau-stufe-12);
    border: none;
    color: var(--color-white);
    transition: background .4s,color .4s;
}

.button-delete-cancel,
.button-delete-confirm {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: .4rem;
}

.button-delete-cancel {
    background-color: var(--color-crt-blau-stufe-4);
    transition: background .4s,color .4s;
}

.button-delete-cancel:hover {
    background-color: var(--color-crt-blau-stufe-12);
    transition: background .4s,color .4s;
}

.button-delete-confirm {
    background-color: var(--color-crt-rot-stufe-7);
    transition: background .4s,color .4s;
}

.button-delete-confirm:hover {
    background-color: var(--color-crt-rot-stufe-8);
    transition: background .4s,color .4s;
}



input::file-selector-button {
    background-color: var(--color-crt-blau-stufe-4);
    height: 38px;
    font-family: inherit;
    color: var(--color-white);
    padding: 0px 30px;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }

  input::file-selector-button:hover {
    background-color: var(--color-crt-blau-stufe-12);
    height: 38px;
    font-family: inherit;
    color: var(--color-white);
    padding: 0px 30px;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
    transition: background .4s,color .4s;
  }

pre {
    width: 100%;
    background: var(--color-white);
    padding: 1rem;
    border-radius: 0.4rem;
    overflow-x: auto;
    font-size: 1.4rem;
    line-height: 2.0rem;
    line-break: anywhere;
    word-break: break-all; 
    white-space:pre-wrap
}

/* Nav bar */
.top-nav-container {
    display: block;
    align-items: center;
    justify-content: space-between;
    max-width: 112rem;
    margin: 0 auto;
    padding: 0;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--color-crt-blau-stufe-12);
    color: var(--color-white);
    box-shadow: 0 5px 3px -2px var(--color-crt-grau-stufe-8);
}
.top-nav-title {
    display: flex;
    align-items: left;
    justify-content: left;
    flex: 1 1 auto;
}

.top-nav-title img {
    width: 50px;
    height: 50px;
    /* margin: 11px 0px 0px 10px; */
}


.top-nav-title a {
    font-size: 2.4rem;
    color: var(--color-white);
}
.top-nav-title span {
    color: var(--color-crt-blau-stufe-4);
}
.top-nav-links a {
    margin: 0 0.5rem;
    color: var(--color-white);
}
.top-nav-title a,
.top-nav-links a {
    font-weight: bold;
}
.side-nav-item {
    display: block;
    padding: 0.5rem 0;
}

.avatar-circle {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}
.breadcrumb {
    display: flex;
    justify-content: baseline;
    font-size: 1.2rem;
    width: 100%;
    height: 3.4rem;
    padding-top: 10px;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 30px;
    /*border-bottom: 1px solid var(--color-crt-blau-stufe-4);*/
}

.breadcrumb > .left {
    flex: 1 1 auto;
}
.breadcrumb > .right {
    flex: 1 1 auto; 
    text-align: right;
}

.breadcrumb > .right img {
    width: 40px;
    height: 40px;
}

.actions img {
    width: 35px;
    height: 35px;
    
}

.side-nav a,
.top-nav-links a:hover {
    color: var(--color-crt-blau-stufe-4);
    transition: .2s linear;
}


/* Utility */
.table-responsive {
    display: block;
    /* width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; */
    overflow-x: scroll;
    overflow-y: hidden;
    /* -webkit-overflow-scrolling: touch; */
}

.table-responsive table {
    min-width: 100%;
    width: max-content;
}

.table-responsive th, .table-responsive td {
    padding: 0px 10px;
}


/* Main */
/* .main {
    padding-top: 40px;
} */
.container {
    padding-bottom: 12rem;
    padding-left: 1%;
    padding-right: 1%;
}

.content {
    padding: 1%;
    background: var(--color-white);
    border-radius: 0.4rem;
    /* Thanks Stripe */
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
.content form {
    margin: 0;
}

/* ### Seitenspezifisch ### */

/* Template "apps" */

.apps-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#user_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#user_menu li {
    display: inline;
    margin-right: 4px;
}
.delete-container {
    display: inline-block;
}
.delete-btn {
    margin-left: 5px;
}
.delete-wrapper button {
    margin-right: 5px;
}

.index-column-actions {
    text-align: right;
}

.actions a {
    font-weight: bold;
    padding: 0 0.8rem 0.4rem 0.8rem;
}

.deleteLink:hover, .deleteLink:focus, .deleteLink:active {
    cursor: pointer;
}

.btn-danger {
    background-color: var(--color-crt-rot-stufe-7);
    border: none;
    color: var(--color-white);
}
.btn-danger:hover {
    background-color: var(--color-crt-rot-stufe-8);
    border: none;
    color: var(--color-white);
}

.edit-textarea {
    height: 70rem;
    width: 100%;
    resize: none;
}

/* crt_apps */
.app-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.app-card-user, .app-card-admin {
    border: 1px solid #ddd;
    /* padding: 20px; */
    border-radius: 5px;
    width: 300px;
    height: 160px;
    box-shadow: 3px 4px 3px var(--color-crt-grau-stufe-2);
    /* box-shadow: 0 3px 6px 1px var(--color-crt-grau-stufe-2); */

}

.app-card-user:hover, .app-card-admin:hover {
    box-shadow: 0 3px 6px 1px var(--color-crt-grau-stufe-4);
    transition: box-shadow .3s linear;
}

.app-card-user header {
    height: 70px;
    background-color:  var(--color-crt-blau-stufe-4);
    color: var(--color-white);
    padding: 20px 20px 0px 20px;
}


.app-card-admin header {
    height: 70px;
    background-color:  var(--color-crt-blau-stufe-7);
    color: var(--color-white);
    padding: 20px 20px 0px 20px;
}

.app-card-user h3, .app-card-admin h3 {
    position: relative;
    top: 10px;
    left: 0px;
    color: var(--color-white);
    margin: 0;
    line-height: 32px;
}

.app-card-user img, .app-card-admin img {
    position: relative;
    width: 50px;
    height: 50px;
    top: -46px;
    left: 220px;
}


.app-card-user div, .app-card-admin div {
    padding: 10px 20px 20px 20px;
}


.app-card:hover {
    box-shadow: 0 3px 6px 1px var(--color-crt-grau-stufe-4);
    transition: box-shadow .3s linear;

}

th {
    white-space: nowrap;
}

/* View action */
.view.content .text {
    margin-top: 1.2rem;
}
.related {
    margin-top: 2rem;
}

/* Flash messages */
.message {
    padding: .5rem 1rem;
    background: var(--color-message-info-bg);
    color: var(--color-message-info-text);
    border-color: var(--color-message-info-border);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 1rem;
    cursor: pointer;
}
.message.hidden {
    display: none;
}
.message.success {
    background: var(--color-message-success-bg);
    color: var(--color-message-success-text);
    border-color: var(--color-message-success-border);
}
.message.warning {
    background: var(--color-message-warning-bg);
    color: var(--color-message-warning-text);
    border-color: var(--color-message-warning-border);
}
.message.error {
    background: var(--color-message-error-bg);
    color: var(--color-message-error-text);
    border-color: var(--color-message-error-border);
}

/* Forms */

.form-xml {
    resize: vertical;
    height: 30rem;
}

.view-report-xml {
    overflow-y: scroll;
    height:400px;
}

.input.radio,
.input.checkbox,
.input.multicheckbox {
    margin-bottom: 2.0rem;
}
.input.radio input,
.input.checkbox input,
.input.multicheckbox input {
    margin: 0;
}
.input.radio label,
.input.checkbox label,
.input.multicheckbox label {
    margin: 0;
    display: flex;
    align-items: center;
}
.input.radio label > input,
.input.checkbox label > input,
.input.multicheckbox label > input {
    margin-right: 1.0rem;
}
input[type='color'] {
    max-width: 4rem;
    padding: 0.3rem .5rem 0.3rem;
}

/* Paginator */
.paginator {
    text-align: right;
}
.paginator p {
    margin-bottom: 0;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
}
.pagination li {
    display: inline-block;
    margin: 0.25em;
    text-align: center;
}
.pagination a {
    color: var(--color-cakephp-blue);
    display: inline-block;
    font-size: 1.25rem;
    line-height: 3rem;
    min-width: 3rem;
    padding: 0;
    position: relative;
    text-decoration: none;
    transition: background .3s,color .3s;
}
.pagination li.active a,
.pagination a:hover {
    text-decoration: underline;
}
.pagination .disabled a {
    cursor: not-allowed;
    color: var(--color-lightgray);
    text-decoration: none;
}
.paginator-counter {
    font-size: 1.25rem;
}

.first a,
.prev a,
.next a,
.last a {
    padding: 0 .75rem;
}
.disabled a:hover {
    background: initial;
    color: initial;
}
.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

/* Error in non debug mode */
.error-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    /* Fix milligram not having a responsive column system */
    .row .column[class*='column-'] {
        flex: 0 0 100%;
        max-width: 100%
    }
    .top-nav {
        margin: 0 auto;
        color: var(--color-white);
    }
    .side-nav {
        margin-bottom: 1rem;
    }
    .heading {
        margin-bottom: 1rem;
    }
    .side-nav-item {
        display: inline;
        margin: 0 1.5rem 0 0;
    }
    .asc:after {
        content: " \2192";
    }
    .desc:after {
        content: " \2190";
    }
}
