
/* ############################## */
/* ########## GLOBAL ############ */
/* ############################## */


/* Milligram overrides */
:root {
    /* CRT Colors grün */
    --color-crt-waldgrün: #3a4b55;
    --color-crt-wiesengrün: #59788a;
    --color-crt-dunkelgrün: #1a3843;
    --color-crt-hellgrün: #a6bbbe;
    --color-crt-minze: #8ea6aa;
    --color-crt-super-hellgrün: #e0ddd8;

    /* CRT Colors blau */  
    --color-crt-blau-stufe-1: #e5ecf4;
    --color-crt-blau-stufe-2: #c4d1e0;
    --color-crt-blau-stufe-3: #a2b7cc;
    --color-crt-blau-stufe-4: #80a3b8;
    --color-crt-blau-stufe-5: #5e8fb4;
    --color-crt-blau-stufe-6: #3c7ba0;
    --color-crt-blau-stufe-7: #1a669c;
    --color-crt-blau-stufe-8: #005f8c;
    --color-crt-blau-stufe-9: #005881;
    --color-crt-blau-stufe-10: #004e72;
    --color-crt-blau-stufe-11: #003a53;
    --color-crt-blau-stufe-12: #002a3c;

    /* CRT Colors grau */
    --color-crt-grau-stufe-1: #f5f5f5;
    --color-crt-grau-stufe-1a: #e9e9e9;
    --color-crt-grau-stufe-1b: #e0e0e0;
    --color-crt-grau-stufe-2: #d9d9d9;
    --color-crt-grau-stufe-3: #b2b2b2;
    --color-crt-grau-stufe-4: #8c8c8c;
    --color-crt-grau-stufe-5: #666666;
    --color-crt-grau-stufe-6: #404040;
    --color-crt-grau-stufe-7: #292929;
    --color-crt-grau-stufe-8: #222222;
    --color-crt-grau-stufe-9: #1b1b1b;
    --color-crt-grau-stufe-10: #000000;

    /* CRT Colors grau */
    --color-crt-rot-stufe-1: #fce4e4;
    --color-crt-rot-stufe-2: #f8d7da;
    --color-crt-rot-stufe-3: #f5c6cb;
    --color-crt-rot-stufe-4: #f1b0b7;
    --color-crt-rot-stufe-5: #ec7a82;
    --color-crt-rot-stufe-6: #e63946;
    --color-crt-rot-stufe-7: #d62839;
    --color-crt-rot-stufe-8: #9d0208;
    --color-crt-rot-stufe-9: #720026;
    --color-crt-rot-stufe-10: #4a0000;
    --color-crt-rot-stufe-11: #3b0a45;
    --color-crt-rot-stufe-12: #3b0a45;

    /* The following are official CakePHP colors */
    --color-cakephp-red: #442858;
    --color-cakephp-gray: #404041;
    --color-cakephp-blue: #1b273d;
    --color-cakephp-lightblue: #34bdd7;

    /* These are additional colors */
    --color-lightgray: #606c76;
    --color-white: #fff;

    --color-main-bg: #f5f7fa;
    --color-links: var(--color-cakephp-blue);
    --color-links-active: #2a6496;
    --color-headings: #1b273d;

    --color-message-success-bg: #e3fcec;
    --color-message-success-text: #1f9d55;
    --color-message-success-border: #1f9d55;

    --color-message-warning-bg: #fffabc;
    --color-message-warning-text: #8d7b00;
    --color-message-warning-border: #d3b800;

    --color-message-error-bg: #fcebea;
    --color-message-error-text: #cc1f1a;
    --color-message-error-border: #ef5753;

    --color-message-info-bg: #eff8ff;
    --color-message-info-text: #2779bd;
    --color-message-info-border: #6cb2eb;
}


/* ############################## */
/* ########### Body ############# */
/* ############################## */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: 1.6rem; */
    font-weight: 400;
    background: var(--color-crt-grau-stufe-1);
    color: var(--color-crt-grau-stufe-7);
}


.side-nav,
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: var(--color-crt-grau-stufe-7);
}

h1, h4, h5 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3.0rem;
}
h3 {
    font-size: 2.4rem;
}
h4 {
    font-size: 2.0rem;
}
h5 {
    font-size: 1.8rem;
}
h6 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

/* Tabellen */
td, th {
    padding: 1.2rem 0.15rem;
    line-break: anywhere;
}

th {
    border-bottom: 0.4rem solid var(--color-crt-blau-stufe-4);
    white-space: nowrap;
}

td,
.vertical-table th {
    border: none;
}
 
/* Links and Buttons */

a {
    color: var(--color-links);
}

img {
    max-width: none;
}

a:hover,
a:focus,
a:active {
    color: var(--color-links-active);
}

pre {
    width: 100%;
    background: var(--color-white);
    padding: 1rem;
    border-radius: 0.4rem;
    overflow-x: auto;
    font-size: 1.4rem;
    line-height: 2.0rem;
    line-break: anywhere;
    word-break: break-all; 
    white-space:pre-wrap;
    border-left: 3px solid var(--color-crt-blau-stufe-4);
}

/* ################################ */
/* ########### Button ############# */
/* ################################ */

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: var(--color-crt-blau-stufe-4);
    border: none;
    margin: 15px 0px;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3.0rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.button:focus,.button:hover,button:focus,button:hover,input[type='button']:focus,input[type='button']:hover,input[type='reset']:focus,input[type='reset']:hover,input[type='submit']:focus,input[type='submit']:hover{
    background-color: var(--color-crt-blau-stufe-12);
    /* border: 1px solid var(--color-crt-blau-stufe-12); */
    color: var(--color-white);
    transition: background .4s,color .4s;
}

.button-delete-cancel,
.button-delete-confirm {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: .4rem;
}

.button-delete-cancel {
    background-color: var(--color-crt-blau-stufe-4);
    transition: background .4s,color .4s;
}

.button-delete-cancel:hover {
    background-color: var(--color-crt-blau-stufe-12);
    transition: background .4s,color .4s;
}

.button-delete-confirm {
    background-color: var(--color-crt-rot-stufe-7);
    transition: background .4s,color .4s;
}

.button-delete-confirm:hover {
    background-color: var(--color-crt-rot-stufe-8);
    transition: background .4s,color .4s;
}


button a:hover,
button a:focus {
    color: var(--color-white);
}

.action-button-img {
    cursor: pointer;
}

.action-button-img:hover {
    transform: scale(1.2);
    transition: transform .2s linear;
}

input::file-selector-button {
    background-color: var(--color-crt-blau-stufe-4);
    height: 38px;
    font-family: inherit;
    color: var(--color-white);
    padding: 0px 30px;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

  input::file-selector-button:hover {
    background-color: var(--color-crt-blau-stufe-12);
    height: 38px;
    font-family: inherit;
    color: var(--color-white);
    padding: 0px 30px;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
    transition: background .4s,color .4s;
}

/* ################################ */
/* ########## Checkbox ############ */
/* ################################ */


.checkbox-container {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 26px;
    height: 26px;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 2.0rem;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    /* background-color: var(--color-crt-blau-stufe-4); */
    border: none;
    /* margin: 15px 0px; */
    /* border-radius: .4rem; */
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    width: 26px;
    height: 26px;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    /* padding: 0 1.0rem; */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 2;
    margin-bottom: 0;
}


/* .checkbox-checked:checked+.checkbox, .checkbox-checked:checked+.checkbox:hover {
    color: var(--color-white);
    background-color: var(--color-crt-blau-stufe-12);
    border: 1px solid var(--color-crt-blau-stufe-12);
} */

/* .checkbox-checked:checked+.checkbox:hover {
    background-color: var(--color-crt-blau-stufe-4);
    border-color: var(--color-crt-blau-stufe-4);
} */

/* .checkbox.checkbox-outline:hover {
    color: var(--color-white);
    background-color: var(--color-crt-grau-stufe-2);
    border: 1px solid var(--color-crt-grau-stufe-3);
} */

.checkbox-checked:disabled+.checkbox, .checkbox-checked[disabled]+.checkbox {
    /* pointer-events: none; */
    cursor: not-allowed;
    filter: none;
    opacity: .65;
    /* background-color: var(--color-crt-grau-stufe-2); */
    background-image: linear-gradient(135deg, var(--color-crt-grau-stufe-2) 2.38%, var(--color-white) 2.38%, var(--color-white) 50%, var(--color-crt-grau-stufe-2) 50%, var(--color-crt-grau-stufe-2) 52.38%, var(--color-white) 52.38%, var(--color-white) 100%);
    background-size: 15px 15px;
}

/* ######## Checkbox alt ######### */

/* input[type="checkbox"] {
    width: 25px;
    height: 25px;
    float: left;
    clear: none;
    display: inline;
    /* margin: 8px 10px; 
} */

/* .checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    width: 26px;
    height: 26px;
    /* margin: 6px auto 0px auto;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

/* .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
} */

.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: var(--color-white);
    border-radius: 4px;
    border: 1px solid var(--color-crt-grau-stufe-4);
}

.checkbox-container:hover input ~ .checkmark {
    background-color: var(--color-crt-blau-stufe-4);
}

.checkbox-container input:checked ~ .checkmark {
    background-color: var(--color-crt-blau-stufe-12);
  border: 1px solid var(--color-crt-blau-stufe-12);
}

.checkbox-container .checkmark:after {
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after, .checkbox-container input:hover ~ .checkmark:after {
    display: block;
}

/* Haken in Checkbox */
.checkbox-container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 9px;
  height: 16px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}



/* .btn-check:disabled+.btn, .btn-check[disabled]+.btn {
    pointer-events: none;
    filter: none;
    opacity: .65;
    background-color: var(--color-crt-grau-stufe-2);
} */

/* .btn-check+.btn:hover {
    color: var(--color-white);
    background-color: var(--color-crt-blau-stufe-12);
    border-color: var(--color-crt-blau-stufe-12);
} */

.btn-check+.btn:hover /* .btn-check:checked+.btn:hover*/ {
    /* color: var(--color-white);
    background-color: var(--color-crt-blau-stufe-12);
    border-color: var(--color-crt-blau-stufe-12); */
}

.btn-check:checked+.btn {
    /* color: var(--color-white);
    background-color: var(--color-crt-blau-stufe-4);
    border-color: var(--color-crt-blau-stufe-4); */
}


/* ############################## */
/* ########### Header ########### */ 
/* ############################## */

.top-nav-container {
    display: block;
    align-items: center;
    justify-content: space-between;
    max-width: 112rem;
    margin: 0 auto;
    padding: 0;
}

.top-nav {
    display: flex;
    width: 100%;
    padding: 1.5rem 1rem;
    margin: 0 auto;
    background-color: var(--color-crt-blau-stufe-12);
    color: var(--color-white);
    box-shadow: 0 5px 3px -2px var(--color-crt-grau-stufe-8);
    border-radius: 0px 0px 15px 15px;
}
.top-nav-title {
    display: flex;
    align-items: left;
    justify-content: left;
    flex: 1 1 auto;
}

.top-nav-title img {
    width: 50px;
    height: 50px;
    /* margin: 11px 0px 0px 10px; */
}

.top-nav-title a {
    /* font-size: 2.4rem; */
    color: var(--color-white);
    height: 50px;
}
.top-nav-title span {
    color: var(--color-crt-blau-stufe-4);
}
.top-nav-links a {
    margin: 0 0.5rem;
    color: var(--color-white);
}
.top-nav-title a,
.top-nav-links a {
    font-weight: bold;
}
.side-nav-item {
    display: block;
    padding: 0.5rem 0;
}

.avatar-circle {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}

#user-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#user-menu li {
    display: inline;
    margin-right: 4px;
}

/* ################################### */
/* ########### Breadcrumbs ########### */
/* ################################### */

.breadcrumb-container {
    display: flex;
    /* justify-content: baseline; */
    /* padding: 1rem; */
    margin: 0 auto;
    /* font-size: 1.2rem; */
    width: 100%;
    height: fit-content;
    max-width: 112rem;
    padding: 10px 1% 0px 1%;
    /* padding-top: 10px;
    padding-left: 1%;
    padding-right: 1%; */
    /* margin-bottom: 30px; */
    /*border-bottom: 1px solid var(--color-crt-blau-stufe-4);*/
    list-style: none;
    /* padding: 0; */
    /* gap: 0.5em; */
    margin-bottom: 3.4rem;
}


.breadcrumb-container-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* gap: 0.5em; */
    align-items: center;
    line-height: 20px;
}

.breadcrumb-container-item {
    height: 16px;
    /* margin-bottom: 1rem; */
}

.breadcrumb-container-item::after {
    content: "/";
    margin: 0 0.4em 0 0.1em;
}

.breadcrumb-toggle i, .breadcrumb-collapse-control i {
    font-size: 18px;
}

.breadcrumb-toggle i:hover, .breadcrumb-collapse-control i:hover {
    color: var(--color-links-active);
}

.breadcrumb-container-item.collapsed {
    display: none;
}

.breadcrumb-container-item-last::after {
    display: none;
}

.breadcrumb-toggle {
    cursor: pointer;
    /* color: #007bff; */
    margin-bottom: 0.8rem;
}

.breadcrumb-toggle::after {
    content: "/";
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    color: initial;
    margin-right: 4px;
}

.breadcrumb-collapse-control {
    cursor: pointer;
    margin-left: 0.5em;
    /* color: #007bff; */
    text-decoration: none;
}

.breadcrumb-collapse-control.hidden {
    display: none;
}

.hidden {
    display: none;
}

/* .breadcrumb-nav {
    margin: 1em 0;
}

.breadcrumb ol {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5em;
}

.breadcrumb li::after {
    content: "/";
    margin-left: 0.5em;
}

.breadcrumb li:last-child::after {
    content: "";
} */

.breadcrumb-container > .left {
    flex: 1 1 auto;
}

.breadcrumb-container ul, .breadcrumb-container li {
    margin-bottom: 0;
}

.breadcrumb-container > .right {
    flex: 1 1 auto; 
    text-align: right;
    font-size: 40px;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}

.breadcrumb-container > .right a {
    /* height: 30px;
    margin-left: 1rem; */
    /* color: var(--color-crt-blau-stufe-4); */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb-container > .right i {
    /* color: var(--color-crt-blau-stufe-4); */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .breadcrumb-container > .right a {
    width: 40px;
    height: 40px;
} */

/* .breadcrumb-container > .right img {
    width: 40px;
    height: 40px;
} */


/* ############################################# */    
/* ############### Actions Bar ################# */    
/* ############################################# */    

.actions-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 112rem;
    margin-bottom: 20px;
    font-size: 2rem;
}

.actions-container > .title {
    flex-wrap: wrap;
}

.actions-container > .links {
    display: flex;
    flex-direction: row;
}

.actions-container > .links > a {
    margin: 0 1rem;
}

.actions-container img {
    width: 35px;
    height: 35px;
    
}
/* 
.side-nav a,
.top-nav-links a {
} */

.side-nav a:hover,
.top-nav-links a:hover {
    color: var(--color-crt-blau-stufe-4);
    transition: .2s linear;
}


/* Utility */
.table-responsive {
    display: block;
    /* width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; */
    overflow-x: scroll;
    overflow-y: hidden;
    /* -webkit-overflow-scrolling: touch; */
}

.table-responsive table {
    min-width: 100%;
    width: max-content;
}

.table-responsive th, .table-responsive td {
    padding: 4px 6px;
}

.table-responsive tr:nth-child(even) {
    background-color: var(--color-crt-blau-stufe-1);
}

/* ############################### */
/* ########### Main ############## */
/* ############################### */

/* .main {
    padding-top: 40px;
} */
.container {
    padding-bottom: 12rem;
    padding-left: 1%;
    padding-right: 1%;
}

/* ######### Content ######### */

.content {
    padding: 10px;
    background: var(--color-white);
    border-radius: 0.4rem;
    /* Thanks Stripe */
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.content > .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 10px; */
	/* height: 62px; */
}
.content > .title > .left {
	flex: auto;
	height: 100%;
}
.content > .title > .right {
	flex: 0 0 auto;
}
.content > .title > .right > .display-tool {
	position: relative;
	display: flex;
	gap: 10px;
	height: 44px;
	padding: 6px 10px 6px 10px;
	background-color: var(--color-crt-waldgrün);
	color: var(--color-white);
	border-radius: 0px 15px 0px 15px;
}
.content > .title > .right > .display-tool div:first-child{
	flex: auto;
	padding-top: 3px;
}
.content > .title > .right > .display-tool div:last-child{
	flex: auto;
}
.content > .title > .right > .display-tool > div:last-child img{
	width: 30px;
	height: 30px;
	display: inline-block
}
.content > .body {
	/* padding: 0px 10px 10px 10px; */
}
.content form {
    margin: 0;
}

/* ####### List Tables (Users, Reports etc. ######### */

.table-responsive > table > tbody > tr > td {
    max-width: 180px;
}

.actions a {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0.8rem 0.4rem 0.8rem;
}

/* ############ View action ############ */

.view.content .text {
    margin-top: 1.2rem;
}
.related {
    margin-top: 2rem;
}

/* ############################## */
/* ##### SEITEN-SPEZIFISCH ###### */
/* ############################## */

/* ############################## */
/* ########### Tools ############ */
/* ############################## */

.tools-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* ##### für den Delete Confirm Button ####### */
/* ##### (momentan nicht in Benutzung) ####### */

.delete-container {
    display: inline-block;
}
.delete-btn {
    margin-left: 5px;
}
.delete-wrapper button {
    margin-right: 5px;
}

.deleteLink:hover, .deleteLink:focus, .deleteLink:active {
    cursor: pointer;
}

.btn-danger {
    background-color: var(--color-crt-rot-stufe-7);
    border: none;
    color: var(--color-white);
}
.btn-danger:hover {
    background-color: var(--color-crt-rot-stufe-8);
    border: none;
    color: var(--color-white);
}


/* ############################## */
/* ######### Home Cards ######### */
/* ######### Tool Cards ######### */
/* ############################## */

.tool-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.home-card-list, .tool-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; /* Items linksbündig, kein Auffüllen */
    /* height: 150px; */
    /* align-items: stretch; */
    /* align-content: stretch; */
}

.home-card, .tool-card {
    flex-grow: 1;
    /* flex: 1 0 32%; */
    /* height: 200px; */
    flex: 0 0 calc((100% - 4%) / 3); /* Drei Items, 2x1% Gap zwischen ihnen */
           
  box-sizing: border-box;    /* flex-grow: 1; */
}

.home-card-list a {
    flex-grow: 1;
    /* flex: 1 0 32%; */
    /* height: 150px; */
    flex: 0 0 calc((100% - 4%) / 3); /* Drei Items, 2x1% Gap zwischen ihnen */
    box-sizing: border-box;
    flex-grow: 1;
}

.home-card-user, .home-card-admin, .tool-card-QueryExpander {
    height: 100%;
    box-shadow: 3px 4px 3px var(--color-crt-grau-stufe-2);
    /* box-shadow: 0 3px 6px 1px var(--color-crt-grau-stufe-2); */
    border: 1px solid #ddd;
    /* padding: 20px; */
    border-radius: 15px;
    /* width: calc(100% * (1/3) - 10px - 1px); */
    /* max-width: 37,33rem; */

}

.home-card-user:hover, .home-card-admin:hover, .tool-card-QueryExpander:hover {
    box-shadow: 0 3px 6px 1px var(--color-crt-grau-stufe-4);
    transition: box-shadow .3s linear;
}

.tool-card-QueryExpander header, .home-card-user header, .home-card-admin header {
    height: 70px;
    color: var(--color-white);
    padding: 20px 20px 0px 20px;
    border-radius: 15px 15px 0px 0px;
    /* padding: 20px 20px 0px 20px; */
}

.tool-card-QueryExpander header {
    background-color:  var(--color-crt-waldgrün);
    color: var(--color-white);
}

.home-card-user header {
    background-color:  var(--color-crt-blau-stufe-4);
    color: var(--color-white);
}

.home-card-admin header {
    background-color:  var(--color-crt-blau-stufe-7);
    color: var(--color-white);
}

.home-card-user h3, .home-card-admin h3, .tool-card-QueryExpander h3 {
    position: relative;
    top: 10px;
    left: 0px;
    color: var(--color-white);
    margin: 0;
    line-height: 32px;
}

.home-card-user img, .home-card-admin img, .tool-card-QueryExpander img {
    position: relative;
    width: 50px;
    height: 50px;
    top: -40px;
    left: 85%;
}


.home-card-user div, .home-card-admin div, .tool-card-QueryExpander div {
    padding: 10px 20px 20px 20px;
}

.tool-card-QueryExpander div {
    font-size: 1.4rem;
}


.home-card:hover {
    box-shadow: 0 3px 6px 1px var(--color-crt-grau-stufe-4);
    transition: box-shadow .3s linear;

}

/* ############################## */
/* ####### PLUGIN TOOLS ######### */
/* ############################## */
/* ######## QueryExpander ####### */
/* ############################## */

.select-report > .title > .right > .display-tool {
    position: relative;
    right: -14px;
    top: -18px;
}

.query-expander-queries > .title > .right > .display-tool {
    position: relative;
    right: -14px;
    top: -18px;
}
.query-expander-data > .title > .right > .display-tool {
    position: relative;
    right: -14px;
    top: -18px;
}
.query-expander-data > .body > form > .search-replace {
    padding: 20px 0px 0px 0px;
}

.query-expander-result > .title > .right > .display-tool {
    position: relative;
    right: -14px;
    top: -14px;
}
.query-expander-queries td, .query-expander-data td {
    height: 40px;
	/* border-bottom: 1px dashed var(--color-crt-grau-stufe-2); */
    /* padding: 10px 0px; */
    padding: 6px 0px 6px 0px;
    vertical-align: top;
}

.query-expander-queries td:first-child {
    width: 5vw;
    /* background-color: red; */
}

.query-expander-queries td:nth-child(2) {
    width: 60vw;
    max-width: 650px;
    /* background-color: red; */
}

.query-expander-queries td:last-child{
    width: 10vw;
    /* background-color: red; */
}

.query-expander-queries i{
    font-size: 24px;
}

.display-modified-xml {
    height: 40rem;
    border: 1px solid var(--color-crt-grau-stufe-2);
    border-radius: 10px;
    line-break: anywhere;
    word-break: break-all; 
    /* padding-left: 4px; */
    border-left: 3px solid var(--color-crt-blau-stufe-8);
    overflow-y: auto;
    padding: 1rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;
}

/* .display-modified-xml legend {
    float: right;
    background-color: var(--color-crt-blau-stufe-8);
    color: var(--color-white);
    padding: 0px 5px;
    position: relative;
    top: -10;
    right: -10;
    height: 20;
} */

.display-modified-xml > span {
    font-family: monospace, monospace;
        position: relative;
    top: 2;
    }

.display-modified-xml > legend > span {
    position: relative;
    top: 2;
    font-weight: normal;
    /* font-size: 1.2rem; */
    margin: 0px 5px;
}
    /* font-size: 1.2rem; */
    /* border-top: 2px solid var(--color-crt-grau-stufe-4);
    border-bottom: 2px solid var(--color-crt-grau-stufe-4);
    border-right: 2px solid var(--color-crt-grau-stufe-4); */


.display-modified-xml > legend > span{
    /* font-family: monospace, monospace; */
    /* font-size: 1.2rem; */
    /* border-top: 2px solid var(--color-crt-grau-stufe-4);
    border-bottom: 2px solid var(--color-crt-grau-stufe-4);
    border-right: 2px solid var(--color-crt-grau-stufe-4); */
}

.display-data-items-container {
    display: none;
    position: relative;
    left: -170%;
    width: 80vw;
    max-width: 900px;
    margin-top: 10px;
}

.display-data-items {
    /* height: 10rem; */
    overflow-y: auto;
    background: var(--color-white);
    padding: 1rem;
    border-radius: 0.4rem;
    line-break: anywhere;
    word-break: break-all; 
    /* white-space:pre-wrap; */
    border: 1px solid var(--color-crt-grau-stufe-2);
    border-left: 3px solid var(--color-crt-blau-stufe-8);
    font-size: 1.2rem;
}

    /* width: 100%;
    background: var(--color-white);
    padding: 1rem;
    border-radius: 0.4rem;
    overflow-x: auto;
    font-size: 1.4rem;
    line-height: 2.0rem;
    line-break: anywhere;
    word-break: break-all; 
    white-space:pre-wrap;
    border-left: 3px solid var(--color-crt-blau-stufe-4); */

.display-data-items legend {
    float: right;
    background-color: var(--color-crt-blau-stufe-8);
    color: var(--color-white);
    padding: 0px 5px;
    position: relative;
    top: -10;
    right: -10;
    height: 20;
}

.display-data-items > span {
    position: relative;
    top: 2;
    font-family: monospace, monospace;
}

.display-data-items > legend > span {
    position: relative;
    top: 2;
    font-weight: normal;
    font-size: 1.2rem;
    margin: 0px 5px;
}

/* ############################ */
/* ###### Flash messages ###### */
/* ############################ */

.message {
    display: flex;
    flex-direction: row;
    /* padding: .5rem 1rem; */
    background: var(--color-white);
    /* color: var(--color-message-info-text); */
    border: none;
    /* border-color: var(--color-message-info-border); */
    /* border-left-width: 12px; */
    border-left-style: solid;
    border-radius: 0.4rem;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
    margin-left: 5rem solid var(--color-message-info-border);
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.message > .icon {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex: 0 0 auto;
    width: auto;
    padding: .5rem .7rem .5rem .5rem;
    color: var(--color-white);
    font-size: 25px;
}
.message > .text {
    flex: 1 1 auto;
    padding: .5rem 1rem; 
}

.message.hidden {
    display: none;
}
.message.success {
    border-color: var(--color-message-success-border);
}
.message.success > .icon {
    background-color: var(--color-message-success-border);
    border-color: var(--color-message-success-border);
}
.message.warning {
    border-color: var(--color-message-warning-border);
}
.message.warning > .icon {
    background-color: var(--color-message-warning-border);
    border-color: var(--color-message-warning-border);
}
.message.error {
    border-color: var(--color-message-error-border);
}
.message.error > .icon {
    background-color: var(--color-message-error-border);
    border-color: var(--color-message-error-border);
}

/* ############################## */
/* ########### Forms ############ */
/* ############################## */

.form-group h3 {
    margin: 0 10px;
}

.view-report-xml {
    overflow-y: scroll;
    height:400px;
}

.input.radio,
.input.multicheckbox {
    display: flex;
    margin-bottom: 2.0rem;
}
.input.radio input,
.input.checkbox input,
.input.multicheckbox input {
    /* margin: 0; */
}
.input.radio label,
.input.checkbox label,
.input.multicheckbox label {
    /* margin: 0; 
    display: flex;
    /* flex-basis: 200px;
    align-items: center;
    pointer-events: none; */
}
.input.radio label > input,
.input.checkbox label > input,
.input.multicheckbox label > input {
    margin-right: 1.0rem;
}

textarea {
    background-color: var(--color-crt-grau-stufe-1);
    border-radius: 6px 6px 0px 0px;
    border: none;
    color: var(--color-crt-grau-stufe-7);
    border-bottom: 2px solid var(--color-crt-grau-stufe-3);
}

textarea:focus {
    background-color: var(--color-crt-grau-stufe-1b);
    border-bottom: 2px solid var(--color-crt-blau-stufe-8);
    transition: background .4s, border .4s;
}

.form-xml {
    resize: none;
    height: 30rem;  
    width: 100%;
}

select, input[type='select'] {
    background-color: var(--color-crt-grau-stufe-1);
    border-radius: 6px 6px 0px 0px;
    border: none;
    border-bottom: 2px solid var(--color-crt-grau-stufe-3);
}

select:focus, input[type='select']:focus {
    border-color: var(--color-crt-blau-stufe-8);
    border-bottom: 2px solid var(--color-crt-blau-stufe-8);
    transition: border .4s;
}

select:focus ::after {
    border-bottom: 2px solid var(--color-crt-blau-stufe-8);
    transition: border .4s;
}

select:focus {
    border-bottom: 2px solid var(--color-crt-blau-stufe-8);
    transition: border .4s;
}

input[type='text'], input[type='password'], input[type='datetime-local'], input[type='email'], input[type='url'], input[type='search'], input[type='tel'], input[type='number'] {
    background-color: var(--color-crt-grau-stufe-1);
    border-radius: 6px 6px 0px 0px;
    border: none;
    color: var(--color-crt-grau-stufe-7);
    border-bottom: 2px solid var(--color-crt-grau-stufe-3);
}

input[type='text']:focus, input[type='password']:focus, input[type='datetime-local']:focus, input[type='email']:focus, input[type='url']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='number']:focus {
    background-color: var(--color-crt-grau-stufe-1b);
    border-bottom: 2px solid var(--color-crt-blau-stufe-8);
    transition: background .4s, border .4s;
}

/* ######## Radio ######### */

input[type="radio"] {
    width: 25px;
    height: 25px;
    float: left;
    clear: none;
    display: inline;
    margin: 8px 10px;
}

.radio-container {
    display: block;
    position: relative;
    cursor: pointer;
    width: 26px;
    height: 26px;
    margin: 0px auto;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-container > .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-white);
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;   */
border-radius: 50%;
    border: 1px solid var(--color-crt-grau-stufe-3);

  /* border: 1px solid var(--color-crt-grau-stufe-3); */
}

.radio-container:hover input ~ .checkmark {
  background-color: var(--color-crt-grau-stufe-2);
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: var(--color-crt-blau-stufe-12);
  border: 1px solid var(--color-crt-blau-stufe-12);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 8px;
	left: 8px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


input[type='color'] {
    max-width: 4rem;
    padding: 0.3rem .5rem 0.3rem;
}

/* Bootstrap override */
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: inherit;
    background-clip: inherit;
    border: inherit;
    border-radius: inherit;
    transition: inherit;
}

/* ############################## */
/* ######### Paginator ########## */
/* ############################## */

.paginator {
    text-align: right;
}
.paginator p {
    margin-bottom: 0;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
}
.pagination li {
    display: inline-block;
    margin: 0.25em;
    text-align: center;
}
.pagination a {
    color: var(--color-cakephp-blue);
    display: inline-block;
    font-size: 1.25rem;
    line-height: 3rem;
    min-width: 3rem;
    padding: 0;
    position: relative;
    text-decoration: none;
    transition: background .3s,color .3s;
}
.pagination li.active a,
.pagination a:hover {
    text-decoration: underline;
}
.pagination .disabled a {
    cursor: not-allowed;
    color: var(--color-lightgray);
    text-decoration: none;
}
.paginator-counter {
    font-size: 1.25rem;
}

.first a,
.prev a,
.next a,
.last a {
    padding: 0 .75rem;
}
.disabled a:hover {
    background: initial;
    color: initial;
}
.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

/* Error in non debug mode */
.error-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

/* ################################ */
/* ########### Responsive ######### */
/* ########### bis 640 px ######### */
/* ################################ */

@media screen and (max-width: 640px) {
    /* Fix milligram not having a responsive column system */
    .row .column[class*='column-'] {
        flex: 0 0 100%;
        max-width: 100%
    }
    .top-nav {
        margin: 0 auto;
        color: var(--color-white);
    }
    .side-nav {
        margin-bottom: 1rem;
    }
    .heading {
        margin-bottom: 1rem;
    }
    .side-nav-item {
        display: inline;
        margin: 0 1.5rem 0 0;
    }
    .asc:after {
        content: " \2192";
    }
    .desc:after {
        content: " \2190";
    }

    .display-tool div:first-child {
        display: none;
    }
    
    h1, h2, h3, h4, h5, h6 {
        /* white-space: nowrap; */
    }

    .home-card-list a {
    flex-grow: 1;
    /* flex: 1 0 32%; */
    height: 150px;
    flex: 0 0 calc((100% - 3%));
    box-sizing: border-box;
    flex-grow: 1;
    }

    .tool-card {
    flex-grow: 1;
    /* flex: 1 0 32%; */
    height: 150px;
    flex: 0 0 calc((100% - 3%));
    box-sizing: border-box;
    flex-grow: 1;
    }

    .display-data-items-container {
    /* display: none;
    position: relative; */
    left: -130%;
    /* width: 80vw;
    max-width: 900px;
    margin-top: 10px; */
}
}